<div class="main wrap">

  <% if flash.has?(:message) %>
    <div class="alert alert-warning alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><%= flash[:message] %></div>
  <% end %>

  <div class="content wrap">
    <h2>Bin your link(s)</h2>
    <div class="note wrap">
      <form class="form " action="/notes" method="POST">

      <!-- topic select -->
        <div class="select-topic-wrap">
          <label for="select-topic">Select a topic: </label>
          <select id="topic-multiselect" name="topic[names][]" multiple="multiple">
          <% Topic.all.each do |topic| %>
            <option id="topic_<%=topic.id%>" value="<%=topic.name%>"><%= topic.name %></option>
          <% end %>
          </select>
        </div>

      <!-- topic create -->
        <div class="create-topic-wrap">
          <label for="create-topic">OR</label>
          <input type="text" name="topic[names][]" class="form-control" placeholder="Enter topic">
        </div>

      <!-- public toggle -->
        <div class="toggle-wrap">
          <div class="absolute-center">Enable Public Access: </div>
          <div class="slideThree">
            <input type="checkbox" value="true" id="slideThree" name="note[public_access]">
            <label for="slideThree"></label>
          </div>
        </div>

      <!-- description, links, content inputs -->
        <label for="description"></label>
        <input type="text" name="note[description]" class="form-control" placeholder="Description" required autofocus>
        <label for="link"></label>
        <input type="url" name="note[links][]" class="form-control" placeholder="Link" required>
        <div class="input_fields_wrap">
          <button type="button" class="btn btn-default add_field_button" aria-label="Left Align"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
        </div>
        <label for="content"></label>
        <textarea type="textarea" name="note[content]" class="form-control" placeholder="Content" required></textarea>
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="submit">Bin it</button>
        <a class="btn btn-sm btn-default btn-block" href="/users/<%= current_user(session).slug %>">Cancel</a>
      </form>
    </div>
  </div> <!-- ./end content wrap -->

</div> <!-- /.main wrap -->
