
<div class="main wrap">

  <% if flash.has?(:message) %>
    <div class="alert alert-success alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><%= flash[:message] %></div>
  <% end %>

  <div class="content wrap">
    <h2><%= @note.description %></h2>
    <div class="note wrap">
        <p style="text-align: left;">On <%= @note.date.strftime("%c") %></p>
        <% topics = " " %>
        <% @note.topics.each do |topic| %>
          <% topics += topic.name + " " %>
        <% end %>
        <p><%= topics %></p>        
      <p><%= @note.content %></p>
      <% @note.links.each do |link| %>
        <a href="<%= link %>"><%= link %></a>
      <% end %>
      <!-- Show edit button to owner of note -->
      <% if @note.user_id == session[:user_id] %>
        <p style="text-align: right;"><span><a href="/notes/<%=@note.id%>/edit">Edit Item</a><span></p>
        <p style="text-align: right;"><span><a href="/notes/<%=@note.id%>/delete">Delete Item</a><span></p>
      <% end %>
    </div> <!-- ./end note wrap -->
  </div> <!-- ./end content wrap -->

</div>
