
<div class="main wrap">

  <% if flash.has?(:message) %>
    <div class="alert alert-success alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><%= flash[:message] %></div>
  <% end %>

  <div class="content wrap">
    <h2>Your links: </h2>
    <div class="notes wrap">
      <% @user.notes.reverse.each do |note| %>
        <div class="note wrap">
          <div class="note meta">
            <div class="date-category">
            <% if note.date_updated.nil? %>
              <p style="text-align: left;">Created: <%= note.date_created.localtime.strftime("%a %H:%M:%S %-m/%Y") %></p>
              <% else %>
              <p style="text-align: left;">Updated: <%= note.date_updated.localtime.strftime("%a %H:%M:%S %-m/%y") %></p>
            <% end %>
            <% topics = "" %>
            <% note.topics.each do |topic| %>
              <% topics += topic.name %>
              <% topics += ", " if topic != note.topics.last %>
            <% end %>
            <p>Categories</p>
            </div> <!-- ./date-category -->
            <div class="username-topics">
              <p>By: <%= @user.username %></p>
              <p><%= topics %></p>
            </div> <!-- ./username-topics -->
          </div> <!-- ./note meta -->
          <h2><%= note.description %></h2>
          <% note.links.each do |link| %>
            <a href="<%= link %>"><%= link %></a><br>
          <% end %>
          <div class="note-configs">
            <p class="note-config"><a href="/note/<%=note.id%>"><span class="glyphicon glyphicon-eye-open"><span></a></p> 
          </div>
        </div>
      <% end %>
    </div> <!-- ./end notes wrap -->
  </div> <!-- ./end content wrap -->

</div>
