<div class="main wrap">

  <% if flash.has?(:message) %>
    <div class="alert alert-success alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><%= flash[:message] %></div>
  <% end %>

  <div class="greeting">
    <h1 class="phrase top"><span>Welcome to <span class="brand-color">linkbin</span></span></h1>
    <h3 class="phrase bottom"><span>Let me organize your links</span></h3>
  </div>

  <div class="content wrap">
    <h2>Latest links: </h2>
    <div class="notes wrap">
      <% Note.all.reverse.each do |note| %>
        <% if note.public_access %>
          <div class="note wrap">
            <div class="note meta">
              <div class="date-category">
                <% if note.date_updated.nil? %>
                  <p style="text-align: left;">Created: <%= note.date_created.localtime.strftime("%a %H:%M:%S %-m/%Y") %></p>
                  <% else %>
                  <p style="text-align: left;">Updated: <%= note.date_updated.localtime.strftime("%a %H:%M:%S %-m/%Y") %></p>
                <% end %>
                <% topics = "" %>
                <% note.topics.each do |topic| %>
                  <% topics += topic.name %>
                  <% topics += ", " if topic != note.topics.last %>
                <% end %>
                <p>Categories</p>
              </div> <!-- ./date-category -->
              <div class="username-topics">
                <p>By: <%= User.find(note.user_id).username %></p>
                <p><%= topics %></p>
              </div> <!-- ./username-topics -->
            </div> <!-- ./note meta -->
            <h2><%= note.description %></h2>
            <% note.links.each do |link| %>
              <div class="note-link-wrap">
                <div class="note-link">
                <a href="<%= link %>"><%= link %></a>
                </div>
              </div>
            <% end %>
            <div class="note-configs">
              <p class="note-config"><a href="/note/<%=note.id%>"><span class="glyphicon glyphicon-eye-open"><span></a></p>
            </div>
          </div> <!-- ./note wrap -->
        <% end %>
      <% end %>
    </div> <!-- ./end notes wrap -->
  </div> <!-- ./end content wrap -->
  
</div>