<div class="main wrap">

  <% if flash.has?(:message) %>
    <div class="alert alert-success alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><%= flash[:message] %></div>
  <% end %>

  <div class="greeting">
    <h1><span class="phrase">Welcome to <span class="brand-color">linkbin</span></span></h1>
    <h3><span class="phrase">Let me organize your links</span></h3>
  </div>

  <div class="content wrap">
    <h2>Latest links: </h2>
    <div class="notes wrap">
      <% Note.all.reverse.each do |note| %>
        <div class="note wrap">
          <div class="date topics">
            <p style="text-align: left;">On <%= note.date.strftime("%c") %>, by: <%= User.find(note.user_id).username %></p>
            <% topics = "Categories: " %>
            <% note.topics.each do |topic| %>
              <% topics += topic.name %>
              <% topics += ", " if topic != note.topics.last %>
            <% end %>
            <p><%= topics %></p>
          </div>
          <h2><%= note.description %></h2>
          <% note.links.each do |link| %>
            <a href="<%= link %>"><%= link %></a>
          <% end %>
          <div class="note-configs">
            <p class="note-config"><a href="/note/<%=note.id%>"><span class="glyphicon glyphicon-eye-open"><span></a></p>
          </div>
        </div>
      <% end %>
    </div> <!-- ./end note wrap -->
  </div> <!-- ./end content wrap -->
  
</div>